on early-init
    start ueventd

on init

sysclktz 0

loglevel 3

# setup the global environment
    export PATH /sbin:/bin
    export LD_LIBRARY_PATH /lib

# create mountpoints
    mkdir /boot 0755 system system

on boot
# basic network init
    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

## Daemon processes to be run by init.
##
service ueventd /sbin/ueventd
    critical

service console /sbin/sh
    console
    disabled
    user root
    group system

on property:ro.secure=0
    start console

service droidboot /sbin/droidboot

# adbd is always enabled
service adbd /sbin/adbd
    disabled

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd
